<about>
    <h1>{props.server}</h1>
    <p>Here I am at the about page</p>
    <script>
        export default {
            onMounted() {
                console.log(this.state)
            }
        }
    </script>
</about>